<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Appeal" verbose="1" >

	<listeners>
		<listener class-name="Appeal.TestUtilities.Reporting"/>
	</listeners>
	
  <test name="TestCases" >
  	<parameter name="browser" value="chrome"/>
    <classes>
       <!--<class name="Appeal.TestCases.TC_LoginTest_001" /> -->
       <!-- <class name="Appeal.TestCases.TC_LoginTest_002" /> -->
        <!--<class name="Appeal.TestCases.TC_Apl01_003" />  -->
           <class name="Appeal.TestCases.TC_004_Practice" /> 
       
       
       
    </classes>
  </test>
 
  
</suite>

